{% comment %}
  This section is used in the 404 template to render page shown when customers
  enter an invalid store URL.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/404
{% endcomment %}
<div style="padding-top: {{ section.settings.top_padding }}px; padding-bottom: {{ section.settings.bottom_padding }}px;">

<h1>{{ '404.title' | t }}</h1>

<p>
  {{ '404.not_found' | t }}
</p>

<a href="{{ routes.all_products_collection_url }}">
  {{ '404.back_to_shopping' | t }}
</a>

</div>
{% schema %}
{
  "name": "t:general.404",
  "settings": [
    {
      "type": "range",
      "id": "top_padding",
      "label": "Top padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
