{% comment %}
  This section is used in the cart template to render /cart page with an
  overview of the items in customer's cart.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/cart
{% endcomment %}
<div style="padding-top: {{ section.settings.top_padding }}px; padding-bottom: {{ section.settings.bottom_padding }}px;">

<h1>{{ 'cart.title' | t }}</h1>

<form action="{{ routes.cart_url }}" method="post">
  <table>
    {% for item in cart.items %}
      <tr>
        <td>
          {% render 'image', image: item.image, url: item.url %}
        </td>
        <td>
          <p>{{ item.product.title }}</p>
          {{ 'cart.remove' | t | link_to: item.url_to_remove }}
        </td>
        <td>
          <input type="text" name="updates[]" value="{{ item.quantity }}">
          <input type="submit" value="{{ 'cart.update' | t }}">
        </td>
      </tr>
    {% endfor %}
  </table>

  <input type="submit" name="checkout" value="{{ 'cart.checkout' | t }}">
</form>

</div>
{% schema %}
{
  "name": "t:general.cart",
  "settings": [
    {
      "type": "range",
      "id": "top_padding",
      "label": "Top padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
