<div class="footer__trust">
  <div class="trust-item">
    {% if section.settings.shipping_icon %}
      {{ section.settings.shipping_icon | image_url: width: 20 | image_tag: alt: section.settings.shipping_text }}
    {% else %}
      <img src="{{ 'icon-shipping.svg' | asset_url }}" alt="{{ section.settings.shipping_text }}" width="48" height="48">
    {% endif %}
    <span>{{ section.settings.shipping_text }}</span>
  </div>
  <div class="trust-item">
    {% if section.settings.cod_icon %}
      {{ section.settings.cod_icon | image_url: width: 20 | image_tag: alt: section.settings.cod_text }}
    {% else %}
      <img src="{{ 'icon-cod.svg' | asset_url }}" alt="{{ section.settings.cod_text }}" width="48" height="48">
    {% endif %}
    <span>{{ section.settings.cod_text }}</span>
  </div>
  <div class="trust-item">
    {% if section.settings.returns_icon %}
      {{ section.settings.returns_icon | image_url: width: 20 | image_tag: alt: section.settings.returns_text }}
    {% else %}
      <img src="{{ 'icon-returns.svg' | asset_url }}" alt="{{ section.settings.returns_text }}" width="48" height="48">
    {% endif %}
    <span>{{ section.settings.returns_text }}</span>
  </div>
</div>
